parameters:
	universalObjectCratesClasses:
		- Drupal\views\ResultRow
		- Symfony\Component\Validator\Constraint
	scanDirectories:
		- '%currentWorkingDirectory%/vendor/civicrm/civicrm-core/ext'
	bootstrapFiles:
		- civicrm-autoloader.php
	civicrm:
		root: '%currentWorkingDirectory%/vendor/civicrm/civicrm-core'
parametersSchema:
	civicrm: structure([
		root: string()
	])
